.identicon
  position: relative
  display: inline-block
  overflow: hidden
  width: smallAvatarSize
  height: smallAvatarSize
  cursor: default
  font: 14px/27px "Meta-Caps"
  letter-spacing: 0px
  text-transform: lowercase
  text-align: center
  text-shadow: 1px 1px gray
  color: white
  vertical-align: middle
  border-radius: borderRadius
  // Hack to make border-radius work in Chrome
  -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC")
  >div
    position: absolute
    width: 100%
    height: 100%
  >img
    width: 100%
    height: 100%
  &::before
    position: absolute
    content: ""
    display: block
    width: 200%
    height: 200%
    margin-top: -140%
    margin-left: -100%
    transform: rotate(-15deg)
  &.tiny
    width: tinyIconSize
    height: tinyIconSize
    >div
      font-size: 10px
      line-height: tinyIconSize
  &.small
    width: smallIconSize
    height: smallIconSize
    >div
      font-size: 10px
      line-height: smallIconSize
  &.medium
    width: mediumAvatarSize
    height: mediumAvatarSize
    >div
      font-size: 11px
      line-height: mediumAvatarSize
  &.large
    width: largeAvatarSize
    height: largeAvatarSize
    >div
      font-size: 16px
      line-height: largeAvatarSize
  &.x-large
    width: x-largeAvatarSize
    height: x-largeAvatarSize
    >div
      font-size: 20px
      line-height: x-largeAvatarSize


.identicon-default
  background: #AFAFAF
.identicon-default::before
  background: #D0D0D0

.identicon-0
  background: #59676c
.identicon-1
  background: #6c5c7e
.identicon-2
  background: #7e5756
.identicon-3
  background: #7e7156
.identicon-4
  background: #6a7e5c
.identicon-5
  background: #6a6a6a
.identicon-6
  background: #7e7e7f
.identicon-7
  background: #91828d
.identicon-8
  background: #92847b
.identicon-9
  background: #91917b
.identicon-10
  background: #829188
.identicon-11
  background: #735c6c
.identicon-12
  background: #a29692
.identicon-13
  background: #a66e8c
.identicon-14
  background: #b3745a
.identicon-15
  background: #8a8759
.identicon-16
  background: #755a49
.identicon-17
  background: #91534d
.identicon-18
  background: #4d8090
.identicon-19
  background: #49755f
.identicon-20
  background: #4a4f75
.identicon-21
  background: #78819e
.identicon-22
  background: #641c5f
.identicon-23
  background: #283774
.identicon-24
  background: #458a5e
.identicon-25
  background: #a7481a
.identicon-26
  background: #515151
.identicon-27
  background: #a31052
.identicon-28
  background: #0c4e67
.identicon-29
  background: #312269
.identicon-30
  background: #491b51

.identicon-0::before
  background: #7C8F95
.identicon-1::before
  background: #9580AF
.identicon-2::before
  background: #AE7977
.identicon-3::before
  background: #AF9D77
.identicon-4::before
  background: #93AE80
.identicon-5::before
  background: #939393
.identicon-6::before
  background: #AFAFB0
.identicon-7::before
  background: #C9B4C3
.identicon-8::before
  background: #CAB7AA
.identicon-9::before
  background: #C9C8AA
.identicon-10::before
  background: #B4C9BC
.identicon-11::before
  background: #9F8096
.identicon-12::before
  background: #E0CFCA
.identicon-13::before
  background: #E599C2
.identicon-14::before
  background: #F8A17D
.identicon-15::before
  background: #BFBB7B
.identicon-16::before
  background: #A27D66
.identicon-17::before
  background: #C8736B
.identicon-18::before
  background: #6BB1C7
.identicon-19::before
  background: #66A283
.identicon-20::before
  background: #676EA2
.identicon-21::before
  background: #A6B2DB
.identicon-22::before
  background: #8B2783
.identicon-23::before
  background: #384CA0
.identicon-24::before
  background: #60BF82
.identicon-25::before
  background: #E76425
.identicon-26::before
  background: #707070
.identicon-27::before
  background: #E11772
.identicon-28::before
  background: #116C8F
.identicon-29::before
  background: #442F91
.identicon-30::before
  background: #652671
